@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>UBT Interview Test</h1>
    <p class="lead"></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2><p>Run the application and explore the features:</p>
            <ul class="list-group"> <li class="list-group-item">Create an account</li>  <li class="list-group-item">Log into the account</li> <li class="list-group-item">Change your password</li> <li class="list-group-item">Log out of the account</li>
            </ul>
        <p>Note where things are done wrong or inappropriately and any security issues</p>
        
    </div>
    <div class="col-md-4">
        <h2>Exploring the Code</h2><p>Examine the source code and note any coding issues:</p>
        <ul class="list-group"> <li class="list-group-item">Look for formatting issues</li> <li class="list-group-item">Note any security issues</li><li class="list-group-item">Examine the code for correctness, coding style, methodoly</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Answer the questions</h2>
        <p>You will have been supplied a list of questions by your representative.  Answer them and submit them to UBT.</p>
    </div>
</div>